:where(.css-dev-only-do-not-override-amq5gd).ant-select-single.ant-select-lg
  .ant-select-selector
  .ant-select-selection-item,
:where(.css-dev-only-do-not-override-amq5gd).ant-select-single.ant-select-lg
  .ant-select-selector
  .ant-select-selection-placeholder {
  padding: 0;
  line-height: 38px;
  transition: all 0.3s, visibility 0s;
  align-self: center;
  display: none;
}
