@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Định dạng liên kết "Trang chủ" khi nó là trang hiện tại */
.active-link-head {
  color: black; /* Màu chữ bôi đen */
  text-decoration: underline; /* Gạch chân */
  font-weight: bold;
}

/* ============= NavLink active End here ================ */

/* ==============Admin========= */
html {
  font-size: 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #fff;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  margin-left: 16px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 64px;
  width: 160px;
  bottom: 0;
  background-color: #fff;
}

.sidebar h3 {
  margin-left: 16px;
}

.sidebar .p-menu {
  border: 0;
  width: 160px;
  position: relative;
}

.login-panel {
  width: 260px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  margin: 32px auto;
}

.content {
  margin-left: 160px;
  padding-top: 64px;
}

.content-inner {
  margin: 16px;
}

.content-header {
  margin-bottom: 16px;
}

.content-form {
  padding: 32px;
  background-color: #fff;
  border-radius: 4px;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
}

.my-progress-bar {
  z-index: 10000;
  height: 4px !important;
}

.cell-link {
  text-decoration: none;
  color: #2478dd;
  font-weight: 600;
}

.cell-link:hover {
  text-decoration: underline;
}

.detail-label {
  width: 160px;
}

.content-detail {
  padding: 32px;
  background-color: #fff;
  border-radius: 4px;
}

.image-display-wrapper {
  width: 256px;
  margin-bottom: 16px;
  text-align: center;
}

.image-display {
  max-width: 100%;
}

.icon-display.pi {
  font-size: 128px;
  display: inline-block;
  color: #2478dd;
}

.error-page {
  width: 600px;
  padding: 32px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  margin: 32px auto;
}

.error-page h1 {
  margin: 0;
  margin-bottom: 8px;
}

.error-page h3 {
  font-weight: normal;
}
